html{
    scroll-behavior: smooth;
}

body {
    background: url('../img/bg2.jpg') no-repeat center center/cover;
    font-family: 'Montserrat', sans-serif;
 
}

#navbar {
    position: sticky;
    top: 0px;
    z-index: 999;
    background-color: black;
    opacity: 0.5;

}

#navbar ul {
    display: flex;
    
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 10px 12px;
    text-decoration: none;
}

#navbar ul li a:hover,
#navbar ul li a:active {
    color: grey; 

}


#home-section{
    height: 700px;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;

}

.info ul {
    display: flex;
}

.info ul li {
    list-style: none;
    font-size: 30px;
}

.info ul li a {
    color: white;
    padding: 0px 11px;
    text-decoration: none;
    display: flex;
}

.info ul li a:hover,
.info ul li a:active {
    color: black;
}

#about-section {
    border-top: 4px solid white;
    border-radius: 25px;

}

.about {
    font-size: 16px;
    color: white;
    
}

.about p {
    padding: 6px 39px;
    transition: all 0.5s ease-out;
    font-size: 20px;

}

.about p:hover{
    border: 10px solid black;
    color: white;
    background-color: black;
    border-radius: 20px;
    opacity: 0.7;


}

#qualification-section {
    border-top: 4px ridge white;
    border-radius: 25px;

}

.qualification {
    color: white;
}

.qualification ul {
    padding: 6px 39px;
    transition: all 0.5s ease;
}
.qualification ul:hover{
    color: white;
    background-color: black;
    border-radius: 40px;
    opacity: 0.7;
    border: 10px solid black;
}

.qualification ul li{
    padding: 6px 39px;
    transition: all 0.5s ease-out;
    font-size: 20px;
}


.qualification ul li:hover{
    transform: translate(12px, 12px);
    
}


#skill-section {
    border-top: 4px ridge white;
    border-radius: 25px;

}

.skills {
    color: white;
}

.skills ul {
    padding: 6px 39px;
    transition: all 0.5s ease-out;
    font-size: 20px;
}
.skills ul:hover{
    color: white;
    background-color: black;
    border-radius: 40px;
    opacity: 0.7;
    border: 10px solid black;
}

.skills ul li{
    padding: 6px 39px;
    transition: all 0.5s ease-out;
}

.skills ul li:hover{
    transform: translate(12px, 12px);
}


footer {
    background: black;
    color: white;
    padding: 9px 14px;
    justify-content: center;
    display: flex;
    opacity: 0.7;
}

.center a h6{
    color: white;
}

.center a h6:hover{
    font-weight: 800;
    color: royalblue;
}

